.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

.post-item {
    background-color: rgb(204, 221, 176);  
  }

  @media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; 
    }}